select {
    min-width: 150px;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid $white;
    color: $white;
    margin: 5px;
}

option {
    background: $offBlack--alt;
}