.nav {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 100px;
	&__links {
		flex-grow: 1;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	ul {
		display: flex;
		justify-content: space-evenly;
		list-style-type: none;
		margin: 0;
	}
	li {
		cursor: pointer;
			border-bottom: 2px solid transparent;
			transition: 0.5s ease;
		&:hover, &.is-active {
			border-bottom: 2px solid $white;
		}
	}
}