.t {
	&-align {
		&--right {
			text-align: right;
		}
		&--center {
			text-align: center;
		}
	}

	&-size {
		&--small {
			font-size: 1.2rem;
		}
	}

	&-colour {
		&--green {
			color: $green;
		}
		&--red {
			color: $red;
		}
		&--blue {
			color: $blue;
		}
	}
}