h2, h3 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
}

h2 {
    font-size: 20px;
}

a {
    padding: 5px;
	color: $white;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 2px solid;
    cursor: pointer;
    &:hover {
        background: $offBlack--alt;
        transform: translateY(-2px) translateX(-2px);
        box-shadow: 2px 2px 5px 0px $offBlack--alt;
    }
}