$red: red;
$red--dark: #862121;
$blue: blue;
$blue--dark: #252590;
$green: lime;
$white: white;
$grey: #f7f7f7;
$greyer: #e6e6e6;
$black: #313131;
$offBlack: #3a3a3a;
$offBlack--alt: #252525;
$trueBlack: #000000;
$white: #fff;


$box-shadow: 3px 3px 4px rgba(142, 142, 142, 0.3);


$mobile: 640px;