.page {
  display: flex; }

.main {
  flex-grow: 1;
  min-height: 100vh;
  margin: 20px; }

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100px; }
  .nav__links {
    flex-grow: 1;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0; }
  .nav li {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: 0.5s ease; }
    .nav li:hover, .nav li.is-active {
      border-bottom: 2px solid #fff; }

.flex {
  display: flex; }
  .flex-justify--between {
    justify-content: space-between; }
  .flex-align--center {
    align-items: center; }

.t-align--right {
  text-align: right; }

.t-align--center {
  text-align: center; }

.t-size--small {
  font-size: 1.2rem; }

.t-colour--green {
  color: lime; }

.t-colour--red {
  color: #ffb7b7; }

.t-colour--blue {
  color: blue; }

html {
  font-size: 62.5%;
  background: #3a3a3a;
  background-image: url("/assets/bg/prism.png");
  color: #fff; }

body {
  margin: 0 25px;
  font-family: 'Arial', sans-serif;
  font-size: 1.6rem; }

select {
  min-width: 150px;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-weight: 600;
  margin: 5px; }

option {
  background: #252525;
  font-weight: 600; }

h2, h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600; }

h2 {
  font-size: 20px; }

a {
  padding: 5px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 2px solid;
  cursor: pointer; }
  a:hover {
    background: #252525;
    transform: translateY(-2px) translateX(-2px);
    box-shadow: 2px 2px 5px 0px #252525; }

.matches {
  flex-shrink: 0;
  width: 200px;
  min-height: 100vh; }
  .matches__columns {
    display: flex; }
    @media screen and (max-width: 640px) {
      .matches__columns {
        flex-wrap: wrap; } }
  .matches__column {
    flex-grow: 1;
    max-width: 33%; }
    .matches__column--half {
      max-width: 50%; }
    @media screen and (max-width: 640px) {
      .matches__column {
        width: 100%;
        max-width: 100%; }
        .matches__column.no-break {
          max-width: 50%; } }
  .matches__result {
    margin-top: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: underline; }
    .matches__result--win {
      color: lime; }
    .matches__result--lose {
      color: #ffb7b7; }
  .matches__table {
    width: 100%;
    padding: 0 5px;
    font-size: 13px; }
    .matches__table td, .matches__table th {
      text-align: right; }
      .matches__table td:nth-of-type(1), .matches__table th:nth-of-type(1) {
        text-align: left; }
  .matches__selects {
    display: flex;
    justify-content: center; }
  @media screen and (max-width: 640px) {
    .matches {
      display: none; } }

.card {
  position: relative;
  margin: 20px 10px;
  padding: 20px 20px 30px 20px;
  background: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3); }
  .card__date {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 1.2rem; }
  .card__vs {
    align-self: center; }
  .card__logo {
    width: 40px;
    height: 40px; }
  .card__showmore {
    position: absolute;
    right: 5px;
    bottom: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer; }
    .card__showmore:hover {
      text-decoration: underline; }
  .card__players {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #313131; }
    .card__players table {
      font-size: 1.2rem; }
      .card__players table td {
        padding: 3px; }
        .card__players table td:nth-last-of-type(1) {
          width: 100%; }
  .card__team {
    width: 50%; }
    .card__team:nth-of-type(2) {
      text-align: right;
      direction: rtl; }
  .card__champ img {
    margin: 0 5px;
    width: 20px;
    height: 20px; }
  .card__svg img {
    width: 15px; }

.react-hint {
  width: max-content;
  padding: 5px;
  position: absolute;
  z-index: 9999;
  cursor: default;
  animation: .5s fadeIn; }

.react-hint__content {
  padding: 10px;
  border-radius: 5px;
  background: #000;
  color: #fff; }

.react-hint:after {
  content: '';
  width: 0;
  height: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid transparent; }

.react-hint--top:after {
  top: auto;
  border-bottom: none;
  border-top-color: #000; }

.react-hint--left:after {
  left: auto;
  border-right: none;
  border-left-color: #000; }

.react-hint--right:after {
  right: auto;
  border-left: none;
  border-right-color: #000; }

.react-hint--bottom:after {
  bottom: auto;
  border-top: none;
  border-bottom-color: #000; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.circle {
  width: 80%;
  margin: auto; }
  .circle path:hover {
    opacity: 0.8; }

.match-card {
  position: relative;
  border: 2px solid;
  margin: 10px 0;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 1px 5px #252525;
  background: #252525;
  cursor: pointer;
  animation: 2s pulse; }
  .match-card__background {
    width: 50%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  .match-card__content {
    z-index: 2;
    display: flex; }
  .match-card__backgrounds {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 50px; }
  .match-card__time {
    flex-grow: 1; }
  .match-card__league {
    flex-shrink: 0;
    padding-right: 5px;
    border-right: 2px solid;
    margin-right: 5px; }
  .match-card:hover {
    transform: translateY(-2px) translateX(-2px);
    box-shadow: 3px 3px 4px 5px #252525; }
  .match-card__teams {
    display: flex; }
  .match-card p {
    width: 100%;
    margin: 5px 0; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse; }
  .table tr:nth-of-type(even) {
    background: #252525; }
  .table td {
    padding: 5px 0; }
  .table th {
    cursor: pointer; }
    .table th:hover, .table th.is-active {
      text-decoration: underline; }
  .table__holder {
    padding-top: 20px; }
  .table__choices {
    display: flex;
    justify-content: center;
    width: 100%; }
    .table__choices a {
      margin: 0 20px; }

.topnav {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  font-weight: 600; }
  .topnav__input-holder {
    display: none; }
    .topnav__input-holder:nth-of-type(1) {
      padding-top: 20px; }
  .topnav__dropdown {
    width: 100%;
    padding: 10px;
    margin: 0 40px;
    background: #252525;
    border: 2px solid; }
    .topnav__dropdown:hover {
      transform: translateY(-2px) translateX(-2px);
      box-shadow: 2px 2px 5px #252525; }
      .topnav__dropdown:hover .topnav__input-holder {
        display: flex; }
    .topnav__dropdown label {
      width: 100%;
      cursor: pointer; }
      .topnav__dropdown label:hover {
        text-decoration: underline; }
  .topnav__holder {
    position: relative;
    height: 100px; }
  .topnav__title {
    text-align: center; }

.calculator__champs {
  display: flex;
  flex-wrap: wrap; }

.calculator__champ-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%; }

.calculator__list {
  list-style: none;
  margin: 5px;
  padding: 5px;
  border: 1px solid; }
  .calculator__list li {
    display: block; }

.stat {
  display: block; }
  .stat--high {
    color: lime;
    font-weight: 700; }
  .stat--low {
    color: #ffb7b7;
    font-weight: 700; }

.bg-color--blue {
  background-color: #252590; }

.bg-color--red {
  background-color: #862121; }

.bdr-color--green {
  border-color: lime; }

.bdr-color--red {
  border-color: #ffb7b7; }

.bdr-color--grey {
  border-color: #e6e6e6; }

.bdr-right {
  border-right: 1px solid; }

.colour__blue {
  color: blue; }

.colour__light-blue {
  color: #a9a9ff; }

.colour__red {
  color: #ffb7b7; }

.mb20 {
  margin-bottom: 20px; }
