.page {
  display: flex; }

.main {
  flex-grow: 1;
  min-height: 100vh; }

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100px; }
  .nav__links {
    flex-grow: 1; }
  .nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0; }
  .nav li {
    cursor: pointer; }
    .nav li:hover {
      border-bottom: 1px solid black; }

.flex {
  display: flex; }
  .flex-justify--between {
    justify-content: space-between; }
  .flex-align--center {
    align-items: center; }

.t-align--right {
  text-align: right; }

.t-align--center {
  text-align: center; }

.t-size--small {
  font-size: 1.2rem; }

.t-colour--green {
  color: lime; }

.t-colour--red {
  color: red; }

.t-colour--blue {
  color: blue; }

html {
  font-size: 62.5%;
  background: #f7f7f7;
  color: #313131; }

body {
  margin: 0 25px;
  font-family: 'Arial', sans-serif;
  font-size: 1.6rem; }

select {
  min-width: 150px;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #313131;
  margin: 5px; }

h2, h3 {
  text-align: center;
  font-weight: 100; }

.matches {
  flex-shrink: 0;
  width: 200px;
  min-height: 100vh; }
  .matches__columns {
    display: flex; }
    @media screen and (max-width: 640px) {
      .matches__columns {
        flex-wrap: wrap; } }
  .matches__column {
    flex-grow: 1;
    max-width: 33%; }
    .matches__column--half {
      max-width: 50%; }
    @media screen and (max-width: 640px) {
      .matches__column {
        width: 100%;
        max-width: 100%; }
        .matches__column.no-break {
          max-width: 50%; } }
  .matches__table {
    width: 100%;
    padding: 0 5px;
    font-size: 13px; }
    .matches__table td, .matches__table th {
      text-align: right; }
      .matches__table td:nth-of-type(1), .matches__table th:nth-of-type(1) {
        text-align: left; }
  .matches__selects {
    display: flex;
    justify-content: center; }
  @media screen and (max-width: 640px) {
    .matches {
      display: none; } }

.card {
  position: relative;
  margin: 20px 10px;
  padding: 20px 20px 30px 20px;
  background: white;
  border-left: 2px solid white;
  box-shadow: 3px 3px 4px rgba(142, 142, 142, 0.3); }
  .card__date {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 1.2rem; }
  .card__vs {
    align-self: center; }
  .card__logo {
    width: 40px;
    height: 40px; }
  .card__showmore {
    position: absolute;
    right: 5px;
    bottom: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer; }
    .card__showmore:hover {
      text-decoration: underline; }
  .card__players {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #313131; }
    .card__players table {
      font-size: 1.2rem; }
      .card__players table td {
        padding: 3px; }
        .card__players table td:nth-last-of-type(1) {
          width: 100%; }
  .card__team {
    width: 50%; }
    .card__team:nth-of-type(2) {
      text-align: right;
      direction: rtl; }
  .card__champ img {
    margin: 0 5px;
    width: 20px;
    height: 20px; }
  .card__svg img {
    width: 15px; }

.react-hint {
  width: max-content;
  padding: 5px;
  position: absolute;
  z-index: 9999;
  cursor: default;
  animation: .5s fadeIn; }

.react-hint__content {
  padding: 10px;
  border-radius: 5px;
  background: #000;
  color: #fff; }

.react-hint:after {
  content: '';
  width: 0;
  height: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid transparent; }

.react-hint--top:after {
  top: auto;
  border-bottom: none;
  border-top-color: #000; }

.react-hint--left:after {
  left: auto;
  border-right: none;
  border-left-color: #000; }

.react-hint--right:after {
  right: auto;
  border-left: none;
  border-right-color: #000; }

.react-hint--bottom:after {
  bottom: auto;
  border-top: none;
  border-bottom-color: #000; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.circle {
  width: 80%;
  margin: auto; }
  .circle path:hover {
    opacity: 0.8; }

.bg-color--blue {
  background-color: #e6e6ff; }

.bg-color--red {
  background-color: #ffe6e6; }

.bdr-color--green {
  border-color: lime; }

.bdr-color--red {
  border-color: red; }

.bdr-color--grey {
  border-color: #e6e6e6; }

.bdr-right {
  border-right: 1px solid; }

.colour__blue {
  color: blue; }

.colour__red {
  color: red; }
