.matches {
	flex-shrink: 0;
	width: 200px;
	min-height: 100vh;

	&__columns {
		display: flex;
	}

	&__column {
		flex-grow: 1;
		max-width: 33%;
	}

	&__selects {
		display: flex;
		justify-content: center;
	}
}
