.matches {
	flex-shrink: 0;
	width: 200px;
	min-height: 100vh;

	&__columns {
		display: flex;
		@media screen and (max-width: $mobile) {
			flex-wrap: wrap;
		}
	}

	&__column {
		flex-grow: 1;
		max-width: 33%;
		&--half {
			max-width: 50%;
		}
		@media screen and (max-width: $mobile) {
			width: 100%;
			max-width: 100%;
			&.no-break {
				max-width: 50%;
			}
		}
	}

	&__table {
		width: 100%;
		padding: 0 5px;
		font-size: 13px;
		td, th {
			text-align: right;
			&:nth-of-type(1) {
				text-align: left;
			}
		}
	}

	&__selects {
		display: flex;
		justify-content: center;
	}

	@media screen and (max-width: $mobile) {
		display: none;
	}
}
