.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    tr {
        &:nth-of-type(even) {
            background: $offBlack--alt;
        }
    }
    td {
        padding: 5px 0;
    }
    th {
        cursor: pointer;
        &:hover, &.is-active {
            text-decoration: underline;
        }
    }
    &__holder {
        padding-top: 100px;
    }
}